---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Pricing from "../components/Pricing.astro";
import Dsgvo from "../components/Dsgvo.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main>
    <Hero />
    <Features />
    <HowItWorks />
    <Pricing />
    <Dsgvo />
    <CTA />
  </main>
  <Footer />
</Base>
